<div class="change-pass-container">
  <div class="password-alert">
    <div class="alert alert-danger" *ngIf="openFail">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
                    {{failMessage}}
                </span>
        </div>
      </div>
    </div>

    <div class="alert alert-success" *ngIf="openSuccess">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">
                    Successfully changed password.
                </span>
        </div>
      </div>
    </div>
  </div>

  <form>
    <section class="form-block">
        <div class="form-group">
          <label class="required">Old Password</label>
          <input type="password" #oldPass class="formFields_7" placeholder="Password">
        </div>
    </section>

    <section class="form-block">
      <div class="form-group">
        <label class="required">New Password</label>
        <input type="password" #newPass class="formFields_7" placeholder="Password">
      </div>
    </section>

    <section class="form-block">
      <div class="form-group">
        <label class="required">Repeat New Password</label>
        <input type="password" #newRepeat class="formFields_7" placeholder="Password">
      </div>
    </section>

    <button type="submit" class="btn btn-primary" (click)="submit(oldPass.value, newPass.value, newRepeat.value)">Ok</button>
  </form>
</div>
