.events-container {
  margin-left:50px;
  margin-top: 30px;
  display: inline-block;
  width: 850px;
}

p {
  display: inline-block;
}

h4 {
  text-align: center;
  margin-bottom: 30px;
}

.event-info {
  display: inline-block;
}

.card-header {
  height: 20px;
  text-align: center;
}

.event-comments {
  display: inline-block;
  vertical-align:top;
  width: 350px;
}

.card {
  width: 350px;
}

.card-header {
  padding: 0 !important;
}

.com-table {
  margin: 0 !important;
}
