
/DentistAppointment.iml
/parent.iml
/ui/ui.iml
/server/server.iml
/ui/src/main/ui/src/assets/.gitkeep
/server/target/
/ui/target/
/ui/src/main/ui/node/
/ui/src/main/ui/node_modules/
/server/src/main/resources/static/main.bundle.js
/server/src/main/resources/static/styles.bundle.js
/server/src/main/resources/static/vendor.bundle.js
/server/src/main/resources/static/favicon.ico
/server/src/main/resources/static/index.html
/server/src/main/resources/static/inline.bundle.js
/server/src/main/resources/static/polyfills.bundle.js
/server/src/main/resources/static/scripts.bundle.js

.idea/
