<div class="patient-profie-container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" (click) = "editProfile(); ">EDIT PROFILE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click) = "loadAppointments()">APPOINTMENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click) = "ambulatoryList()">AMBUATORY LIST</a>
    </li>
    <li class="nav-item dropdown">
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <div class="profile-content">
    <router-outlet></router-outlet>
  </div>
</div>
