
<div class="dentist-profie-container">

  <div class="edit-profile-container">
    <div class="email-alert">
      <div class="alert alert-danger" *ngIf="openFail">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
                    {{failMessage}}
                </span>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="alert alert-success" *ngIf="openSuccess">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">
                    Successfully updated profile.
                </span>
      </div>
    </div>
  </div>

  <div class="card-text">
    <p>Email: {{UserInfo.email}}</p>
    <p>First Name: {{UserInfo.firstName}}</p>
    <p>Last Name: {{UserInfo.lastName}}</p>
    <p>City: {{UserInfo.city}}</p>
    <p>Dentist Type: {{UserInfo.dentistType}}</p>
    <p>General Information: {{UserInfo.generalInformation}}</p>
  </div>


  <form>
    <div>
      <section class="form-block">
        <div class="form-group">
          <label class="required">Email</label>
          <input type="email" #email class="formFields_7" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="required">FirstName</label>
          <input type="FirstName" #firstName class="formFields_7" placeholder="FirstName">
        </div>
        <div class="form-group">
          <label class="required">LastName</label>
          <input type="LastName" #lastName class="formFields_7" placeholder="LastName">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <div class="select">
            <select id="city"
                    name="city"
                    #city
                >
              <option value={{constants.CITY_SOFIA}}>Sofia</option>
              <option value={{constants.CITY_VARNA}}>Varna</option>
              <option value={{constants.CITY_PLOVDIV}}>Plovdiv</option>
              <option value={{constants.CITY_BURGAS}}>Burgas</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="dentistType">Type</label>
          <div class="select">
            <select id="dentistType"
                    name="dentistType"
                    #dentistType>
              <option value={{constants.TYPE_NORMAL}}>Normal</option>
              <option value={{constants.TYPE_ORTHODONT}}>Orthodont</option>
              <option value="{{constants.TYPE_SURGEON}}">Surgeon</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>General Information</label>
          <input type="generalInformaton" #generalInformation class="formFields_7" placeholder="Add General Information">
        </div>

      </section>
    </div>
    <button type="submit" class="btn btn-primary"(click)="submit(
      email.value,
    firstName.value,
    lastName.value,
    dentistType.value,
    city.value,
    generalInformation.value)">Ok</button>
  </form>
</div>
