.bgimg {
  background-image: url('../img/bck.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.search-container {
  display: inline-block;
  width: 100%;
}
clr-datagrid {
  max-width: 1000px;
}

.search-box {
  margin-top: 50px;
  display: inline-block;
  width: 1000px;
}

.criteria {
  width: 1000px;
}

.test {
  display: inline-block;
  padding-bottom: 50px;
  padding-right: 25px;
}

.search-city {
  display: inline-block;
}

.search-name {
  display: inline-block;
}

.btn btn-primary {
  display: inline-block;
}

.form-block{
  display: inline-block;
}

.rating-dropdown {
  display: inline-block;
  width: 180px;
}

.city-dropdown {
  display: inline-block;
  width: 150px;
}

.type-dropdown {
  display: inline-block;
  width: 150px;
}

.events {
  display: inline-block;
}

.select {
  display:block;
}
