<div class="patient-profie-container">

    <div class="email-alert">
      <div class="alert alert-danger" *ngIf="openFail">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
                    {{failMessage}}
                </span>
          </div>
        </div>
      </div>
    </div>


  <div class="alert alert-success" *ngIf="openSuccess">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">
                    Successfully updated profile.
                </span>
      </div>
    </div>
  </div>

  <form #editForm="ngForm">
    <div>
      <section class="form-block">
        <div class="form-group">
          <label class="required">Email</label>
          <input type="email"  [(ngModel)]="EUser.email" #email="ngModel" class="formFields_7" placeholder="Email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label class="required">FirstName</label>
          <input type="FirstName" #firstName="ngModel" [(ngModel)]="EUser.firstName"  class="formFields_7" placeholder="FirstName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label class="required">LastName</label>
          <input type="LastName" #lastName="ngModel" [(ngModel)]="EUser.lastName" class="formFields_7" placeholder="LastName" [ngModelOptions]="{standalone: true}">
        </div>
      </section>
    </div>
    <button type="submit" class="btn btn-primary"(click)="submit(EUser.email,EUser.firstName,EUser.lastName)">Ok</button>
</form>
</div>

