.search-container {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
}
clr-datagrid {
  max-width: 900px;
}

h4 {
  text-align: center;
  padding-bottom: 50px;
}

.hidden-warning {
  display: none;
}

.search-box {
  display: inline-block;
  width: 900px;
  vertical-align: top;
  margin-top: 20px;
}

.criteria {
  width: 1000px;
}

.search-city {
  display: inline-block;
}

.search-name {
  display: inline-block;
}

.btn btn-primary {
  display: inline-block;
}

.form-block{
  display: inline-block;
}

.city-dropdown {
  display: inline-block;
  width: 180px;
}

.type-dropdown {
  display: inline-block;
  width: 180px;
}

.events {
  display: inline-block;
  vertical-align: top;
}

.select {
  display:block;
}

