.search-container {
  display: inline-block;
  width: 100%;
}
clr-datagrid {
  max-width: 1000px;
}

.search-box {
  margin-top: 50px;
  display: inline-block;
  width: 1200px;
}

.criteria {
  width: 1000px;
}

.search-city {
  display: inline-block;
}

.search-name {
  display: inline-block;
}

.btn btn-primary {
  display: inline-block;
}

.form-block{
  display: inline-block;
}

.city-dropdown {
  display: inline-block;
  width: 180px;
}

.type-dropdown {
  display: inline-block;
  width: 180px;
}

.events {
  display: inline-block;
}

.select {
  display:block;
}

