.dentist-container{
  background-color: white;
}

.header {
  max-height: 10px;
}

.header-navi {
  height: 60px;
}

.active {
  text-decoration: underline;
}

.nav {
  margin-top: 10px;
  display: inline-block;
  width:10%;
  text-align: center;
}

.wrapper {
  margin-top: 30px;
  margin-left: 60px;
  margin-right:60px;
}
