<div class="dentist-container">
  <header class="header header-6">
  </header>
  <nav class="header-navi">
    <a class="nav" id="logo" routerLink="/home"></a>
    <a class="nav" (click)= "openProfile()">MY PROFILE</a>
    <a class="nav" (click) = "openSchedule()">MY SCHEDULE</a>
    <a class="nav" (click) = "editProfile()">APPOINTMENTS</a>
    <a class="nav" (click) = "dentistSearch()">PATIENTS</a>
    <clr-dropdown class="nav">
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        {{userEmail}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a clrDropdownItem (click)="openProfile()">My Profile</a>
        <a clrDropdownItem (click)="openSchedule()">Schedule</a>
        <a clrDropdownItem (click)="editProfile()">Patients</a>
        <a clrDropdownItem routerLink="/dentist/changepass" routerLinkActive="active">Change Password</a>
        <div class="dropdown-divider"></div>
        <button type="button" clrDropdownItem (click)="logout()">Log Out</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </nav>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

