<div class="dentist-container">
  <header class="header header-6">
  </header>
  <nav class="header-navi">
    <a class="nav" id="logo" routerLink="/home"></a>
    <a class="nav" routerLink="/dentist/myprofile" routerLinkActive="active">MY PROFILE</a>
    <a class="nav" routerLink="/dentist/schedule" routerLinkActive="active">MY SCHEDULE</a>
    <a class="nav" routerLink="/dentist/appointments" routerLinkActive="active">APPOINTMENTS</a>
    <a class="nav" routerLink="/dentist/patients" routerLinkActive="active">PATIENTS</a>
    <clr-dropdown class="nav">
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        {{userEmail}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <a clrDropdownItem routerLink="/dentist/myprofile" routerLinkActive="active">My Profile</a>
        <a clrDropdownItem routerLink="/dentist/schedule" routerLinkActive="active">Schedule</a>
        <a clrDropdownItem routerLink="/dentist/patients" routerLinkActive="active">Patients</a>
        <a clrDropdownItem routerLink="/dentist/changepass" routerLinkActive="active">Change Password</a>
        <div class="dropdown-divider"></div>
        <button type="button" clrDropdownItem (click)="logout()">Log Out</button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </nav>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

