clr-datagrid {
  width: 1000px;
  display: inline-block;
  justify-content: center;
}

h4 {
  text-align: center;
}

.patient-appointments-container{
  position: absolute;
  width: 1000px;
  left: 50%;
  transform: translate(-50%);
}
