clr-datagrid {
  max-width: 1000px;
}

.test {
  display: inline-block;
  padding-bottom: 50px;
  padding-right: 25px;
}

.search-city {
  display: inline-block;
}

.btn btn-primary {
  display: inline-block;
}

.form-block{
  display: inline-block;
}

.sort-rating {
  display: inline-block;
}

.type-search {
  display: inline-block;
}

.search-container {
  display: inline-block;
}

events {
  display: inline-block;
}
