.edit-events{
  width: 100%;
}

.new-event{
  display: flex;
  justify-content: center;
  text-align: center;
}

.card{
  width:400px;
}

form-block {
  margin-bottom: 10px;
}

.card-header {
  text-align: center;
}

.events {
  position: absolute;
  left: 50%;
  width: 1000px;
  transform: translate(-50%);
}

clr-modal {
  height: 750px !important;
}

.add-event, .labels, .select {
  display: inline-block;
}

.error-msg {
  margin-left:auto;
  margin-right:0;
}

.new-event {
  margin-bottom: 30px;
}

label{
  margin-right: 18px;
}

h4 {
  display: inline-block;
}

h3 {
  text-align: center;
}

.date-time {
  display: inline-block;
  width: 350px;
}

.info {
  margin-top: 13px;
}

.time,.description{
  margin-top: 17px;
}

.description {
  padding-bottom: 13px;
}

.select {
  width: 230px;
}

#title, #date {
  width: 230px;
}
