<div class="ratings-container">
  <div class="add-rating">
    RATE
  </div>
  <div class="all-ratings" *ngIf="isRatingAvailable()">
    <clr-datagrid>
      <clr-dg-column>Rate</clr-dg-column>
      <clr-dg-column>Comment</clr-dg-column>

      <clr-dg-row *ngFor="let rate of ratings">
        <clr-dg-cell>{{rate.rating}}</clr-dg-cell>
        <clr-dg-cell>{{rate.comment}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <!--ngif user is patient show this component-->
  <div class="rate">
    <div class="input">

    </div>
    <div>
      <div class="form-group">
        <label for="formFields_8">Textarea</label>
        <textarea id="formFields_8" rows="5"></textarea>
      </div>
    </div>
  </div>
</div>
