.header {
  max-height: 10px;
}

.header-navi {
  height: 60px;
}

.nav{
  margin-top: 10px;
  display: inline-block;
  width:16%;
  text-align: center;
}
.wrapper {
  margin-top: 30px;
  margin-left: 60px;
  margin-right:60px;
}

#logo {
  background-image:  url('../img/logo.jpg');
  background-size: 100%;
}

.main-container{
  background-color: white;
}
