h1{
  text-align: center;
}
.calendar-buttons{
  margin-left: 310px
}
:host {
  .alert {
    width: 800px;
  }
  table {
    width: 800px;
  }
  tr {
    padding: 0;
  }
  td {
    padding: 0;
    border: 0;
  }
  button {
    margin: 0;
    padding: 0;
    width: 114px;
  }
}
