<div class="calendar-container">
  <div class="calendar-top">
   <h1>Calendar</h1>
    </div>
  <div class="calendar-buttons">
   <clr-button-group>
      <clr-button (click)="loadEarlier()">< Earlier</clr-button>
      <clr-button (click)="loadLater()">Later ></clr-button>
   </clr-button-group>
    </div>
   <div class="alert alert-danger" *ngIf="appointmentIsMade == 2">
      <div class="alert-items">
         <div class="alert-item static">
            <div class="alert-icon-wrapper">
               <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
               Could not register the appointment, please refresh the page an try again.
            </span>
         </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
         <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
   </div>
   <div class="alert alert-success" *ngIf="appointmentIsMade == 1">
      <div class="alert-items">
         <div class="alert-item static">
            <div class="alert-icon-wrapper">
               <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">The appointment was registered successfully.</span>
         </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
         <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
   </div>
   <table class="table" *ngIf="calendarHours">
      <thead>
      <tr>
         <th *ngFor="let weekDay of WEEK_DAYS">
            {{weekDay}}
            <br>
            {{datesToShow[WEEK_DAYS.indexOf(weekDay)].toDateString().slice(4, 10)}}
         </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hour of calendarHours.Monday">
         <td *ngFor="let weekDay of WEEK_DAYS">
            <div *ngIf="!calendarHours[weekDay][calendarHours.Monday.indexOf(hour)].working">
               <button class="btn ingrid" disabled>
               </button>
            </div>
            <div *ngIf="calendarHours[weekDay][calendarHours.Monday.indexOf(hour)].working">
               <div *ngIf="calendarHours[weekDay][calendarHours.Monday.indexOf(hour)].booked">
                  <button class="btn ingrid" disabled>
                     Оccupiеd
                  </button>
               </div>
               <div *ngIf="!calendarHours[weekDay][calendarHours.Monday.indexOf(hour)].booked">
                  <button class="btn btn-success ingrid"
                          (click)="askForAppointment(calendarHours[weekDay][calendarHours.Monday.indexOf(hour)])">
                     {{calendarHours[weekDay][calendarHours.Monday.indexOf(hour)].hour}}
                  </button>
               </div>
            </div>
         </td>
      </tr>
      </tbody>
   </table>

   <clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'md'">
      <h3 class="modal-title">Make an appointment</h3>
      <div class="modal-body">
         <p>Are you sure you want to make an appointment for
            {{appointmentSelected?.date?.toString().substr(0, 21)}}?</p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-outline" (click)="makeAppointment(false)">Cancel</button>
         <button type="button" class="btn btn-primary" (click)="makeAppointment(true)">Ok</button>
      </div>
   </clr-modal>
</div>
