clr-datagrid {
  max-width: 600px;
}

.profile-card {
  width: 800px;
  display: inline-block;
}

.dentist-info {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}

.card {
  width: 750px;
}

h4 {
  text-align: center;
}

.ratings {
  display: inline-block;
  width: 750px;
}
