clr-datagrid {
  max-width: 600px;
}

.profile-card {
  width: 750px;
  display: inline-block;
  margin: 0;
  padding: 0;

}

.card {
  width: 500px;
}

.calendar {
  display: inline-block;
  width: 500px;
}
