.schedule-container {
  position: absolute;
width: 1000px;
}

h4 {
  margin-bottom: 30px;
}

.edit-schedule {
  display: inline-block;
  justify-content: center;
  width: 750px;
}
:host {
  .input-fields {
    div {
      display: inline-block;
      padding: 0;

      label {
        width: 40px;
      }
      div & .to {
        padding-left: 25px;
      }
      div & .day {
        padding-left: 31px;
      }
      div & .from {
        padding-left: 40px;
      }
    }
  }
}
