.header {
  max-height: 10px;
}

.logo {
  padding-right: 5px;
}

.header-navi {
  height: 60px;
}

.nav{
  margin-top: 10px;
  display: inline-block;
  width:16%;
  text-align: center;
}
h1{
  text-align: center;
}
