<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <div class="logo">
          <img src="https://www.clker.com/cliparts/A/K/h/3/U/N/tooth-md.png" width="50" height="50">
        </div>
        <span class="title">Appointment App</span>
      </a>
    </div>
    <div class="navButtons">
      <div class="header-nav nav-justified">
        <a class="nav-link nav-text" routerLink="/patient/profile/edit" routerLinkActive="active">My profile</a>
        <a class="nav-link nav-text" routerLink="/patient/dentists" routerLinkActive="active">Dentists</a>
        <a class="nav-link nav-text" routerLink="/patient/profile/appointments" routerLinkActive="active">My appointments</a>
      </div>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{userFirstName}} {{userLastName}} {{userEmail}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <a clrDropdownItem (click)="editProfile()">Profile</a>
          <a clrDropdownItem routerLink="/patient/changepass" routerLinkActive="active">Change Password</a>
          <div class="dropdown-divider"></div>
          <button type="button" clrDropdownItem (click)="logout()">Log Out</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <router-outlet>
  </router-outlet>
</div>

<div class="dentist-container">
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="calendar"></clr-icon>
        <span class="title">Appointment App</span>
      </a>
    </div>
    <div class="navButtons">
      <div class="header-nav nav-justified">
        <a class="nav-link nav-text" routerLink="/patient/profile/edit" routerLinkActive="active">My profile</a>
        <a class="nav-link nav-text" routerLink="/patient/dentists" routerLinkActive="active">Dentists</a>
        <a class="nav-link nav-text" routerLink="/patient/profile/appointments" routerLinkActive="active">My appointments</a>
      </div>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{userFirstName}} {{userLastName}} {{userEmail}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <a clrDropdownItem>Change Password</a>
          <div class="dropdown-divider"></div>
          <button type="button" clrDropdownItem (click)="logout()">Log Out</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="wrapper">
    <div *ngIf="dentists">
      <h1>Dentists</h1>
      <clr-datagrid>
        <clr-dg-column>Dentist email</clr-dg-column>
        <clr-dg-column>First name</clr-dg-column>
        <clr-dg-column>Last name</clr-dg-column>
        <clr-dg-column>Type</clr-dg-column>
        <clr-dg-column>City</clr-dg-column>
        <clr-dg-column>Times blacklisted</clr-dg-column>
        <clr-dg-column>Block/Unblock</clr-dg-column>


        <clr-dg-row *ngFor="let dentist of dentists">
          <clr-dg-cell>{{dentist.email}}</clr-dg-cell>
          <clr-dg-cell>{{dentist.firstName}}</clr-dg-cell>
          <clr-dg-cell>{{dentist.lastName}}</clr-dg-cell>
          <clr-dg-cell>{{dentist.dentistType}}</clr-dg-cell>
          <clr-dg-cell>{{dentist.city}}</clr-dg-cell>
          <clr-dg-cell>{{dentist.timesBlacklisted}}</clr-dg-cell>
          <clr-dg-cell>
        <button class="btn btn-warning"
                    (click)="block(dentist, true)"
                    *ngIf="dentist.timesBlacklisted < 4">
              Block
            </button>
            <button class="btn btn-success"
                    (click)="block(dentist, false)"
                    *ngIf="dentist.timesBlacklisted >= 4">
              Unblock
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{dentists.length}} dentist(s)</clr-dg-footer>
      </clr-datagrid>
    </div>

    <div *ngIf="patients">
      <h1>Patients</h1>
      <clr-datagrid>
        <clr-dg-column>Patient email</clr-dg-column>
        <clr-dg-column>First name</clr-dg-column>
        <clr-dg-column>Last name</clr-dg-column>
        <clr-dg-column>Times blacklisted</clr-dg-column>
        <clr-dg-column>Block/Unblock</clr-dg-column>

        <clr-dg-row *ngFor="let patient of patients">
          <clr-dg-cell>{{patient.email}}</clr-dg-cell>
          <clr-dg-cell>{{patient.firstName}}</clr-dg-cell>
          <clr-dg-cell>{{patient.lastName}}</clr-dg-cell>
          <clr-dg-cell>{{patient.timesBlacklisted}}</clr-dg-cell>
          <clr-dg-cell>
            <button class="btn btn-warning"
                    (click)="block(patient, true)"
                    *ngIf="patient.timesBlacklisted < 4">
              Block
            </button>
            <button class="btn btn-success"
                    (click)="block(patient, false)"
                    *ngIf="patient.timesBlacklisted >= 4">
              Unblock
            </button>
          </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{patients.length}} patient(s)</clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>

